.showcase {
    background-image: url("img/links.jpg");
    /*background color for showcase section.*/
}

/*container of all the links*/
    .cards {
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
    /*style of each link*/
    .cards div {
        width: 30%;
        margin: 10px;
        background-color: rgb(185, 185, 185);
        border-radius: 5px;
        transition: all 0.35s ease-in-out;
        text-align: center;
    }
    /*style of all the links description*/
    .content-text {
        margin: 10px;
        text-align: center;
        text-decoration: none;
        color: #323334;
        transition: color 0.35s ease-in-out;
    }
    .content-text a {
        text-align: center;
        text-decoration: none;
        font-style: italic;
        font-weight: 550;
        color: #323334;
        padding-bottom: 0;
        margin-bottom: 1px;
        border-spacing: 0;
        /*makes the border underline looks good*/
        border-bottom: 1px transparent solid;
        transition: color 0.35s ease-in-out, border-bottom 0.4s ease;
    }
    /*hover underline effect for links*/
    .content-text a:hover {
        border-bottom: 1px #f0f0f0 solid;
    }
    /*hover background color change for each card.*/
    .cards div:hover {
        background-color: #323334;
        cursor: pointer;
    }
    /*hover color for all text for links.*/
    .cards div:hover * {
        color: rgb(240, 240, 240);
    }
    /*slight change to the flex box layout of the content to adpat mobile view.*/
    @media screen and (max-width:650px) {
        .cards:first-child {
            width: 50%
        }
        .cards:nth-child(2) {
            width: 50%;
        }
        .cards:last-child {
            width: 100%;
        }
    }