<!DOCTYPE html>

<head>
    <title>CSCB63--Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../static/create.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <!--Start of the content-->
    <div class="main">
        <div class="image">
            <img src="..//static/img/logo.png" alt="Class logo">
        </div>
        <div class="form">
            <form method="POST" action="/create">
                <h2>Create Account</h2>
                <div class="text">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" placeholder="*Choose a Username" required>
                </div>
                <div class="text">
                    <i class="fas fa-key"></i>
                    <input type="password" name="password" placeholder="*Password" required>
                </div>
                <div class="text">
                    <input type="text" name="first" placeholder="*First Name" required>
                </div>
                <div class="text">
                    <input type="text" name="last" placeholder="*Last Name" required>
                </div>
                <div class="type">
                    <input type="radio" name="type" value="student" id="s-label" required>
                    <label for="s-label">Student</label>
                    <input type="radio" name="type" value="instructor" id ="i-label" required>
                    <label for="i-label">Instructor</label>
                </div>
                <input type="submit" value="Create">
                <p><a href="/login">Login with existing account</a></p>
            </form>
            {% if error %}
            <p>This username already exists.</p>
            {% endif %}
        </div>
    </div>
    <!--End of content-->
    <!--end!-->
</body>
</html>