<!DOCTYPE html>

<head>
    <title>CSCB63--Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <!--Start of the content-->
    <div class="main">
        <div class="image">
            <img src="..//static/img/logo.png" alt="Class logo">
        </div>
        <div class="form">
            <form method="post">
                <h2>Login</h2>
                <div class="text">
                    <i class="fas fa-user"></i>
                    <input type="text" name="Username" placeholder="Username">
                </div>
                <div class="text">
                    <i class="fas fa-key"></i>
                    <input type="password" name="Password" placeholder="Password">
                </div>
                <input type="submit" value="Login">
                <p><a href="/create">Create Account</a></p>
            </form>
            {% if error %}
            <p>Invalid username or Password</p>
            {% endif %}
            
        </div>
    </div>
    <!--End of content-->
    <!--end!-->
</body>

</html>